/* Basic Style */
.page {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}
.matrix {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}
.matrix__img {
  width: 100%;
}
.matrix__link {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {
  .matrix { 
    text-align: center;
  }
}
.todos {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.todos__label {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}
.todos__input {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}
.todos__row {
  display: flex;
}
.todos__list {
  margin: 0;
  padding: 0px;
}
.todos__item {
  list-style: none;
}
input,
button {
  outline: none;
}
.todos__button {
  background: none;
  border: 0px; 
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}
.todos__button:hover {
    color: #3a3a3a;
}
/* Heading */
.todos__block-title,
.todos__add-title {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
.todos__input {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}
.todos__input:focus {
  color: #333;
}

/* New Task */
.todos__add-title {
  display: block;
  margin: 0 0 20px;
}
.todos__input .task {
  width: 318px;
}

/* Task list */
.todos__item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.todos__list > * {
  vertical-align: middle;
}
.todos__list input[type="checkbox"] {
  margin: 0 10px;
}
.todos__list .todos__label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}
.todos__item > .todos__input {
  width: 226px;
}
.todos__button--delete .todos__icon {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.todos__button--delete .todos__icon:hover {
  transform: rotateZ(0);
}

/* Completed */
.todos__list--completed {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.todos__list .todos__input {
  display: none;
}

.todos__item--edit-mode .todos__input {
  display: inline-block;
  width: 224px;
}

.todos__item--edit-mode .todos__label {
  display: none;
}